body html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 4fr;
    background-color: #0077BE;
}

p {
    font-size: 2vh;
    color: #fff;
    opacity: 0.7;
}

img {
    height: 12rem;
    width: 15rem;
    border-radius: 10px;
}

.header-content {
    padding-top: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content h1 {
    color: #fff;
    font-size: 4vh;
}

.cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}

.card-features {
    background-color: #5892C7;
}

.card-features > img {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-features h2 {
    color: #fff;
    font-size: 3vh;
}