body html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.main-body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 4fr;
    background-color: #0077BE;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size: 2vh;
    color: #fff;
    opacity: 0.7;
}

img {
    margin-top: 2rem;
    height: 12rem;
    width: 15rem;
    border-radius: 10px;
}

.header-content {
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
}

.header-content h1 {
    color: #fff;
    font-size: 4vh;
}

.cards {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 2rem;
}

.cards .img-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-features {
    background-color: #5892C7;
    border-radius: 20px;
    width: 19rem;
    height: 23rem;
}

.card-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-features h2 {
    color: #fff;
    font-size: 3vh;
}